* {
  margin: 0;
}

*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 400;
  font-variation-settings:
  "wdth" 100;
  font-size: 16px;
}

a {
  font-family: inherit;
}

.container {
  width: 88%;
  max-width: 1200px;
  margin: 0 auto;
} 

.header {
  display: flex;
  justify-content: space-between;
}

.nav {
  display: flex;
  gap: 20px;
}

.hero {
  display: flex;
}

.hero-info,
.hero-img {
  flex: 1;
}

.hero-img {
  display: flex;
  justify-content: center;
  align-items: center;
}

/** FACTS **/
.facts h2 {
  text-align: center;;
}

.facts-body {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.facts-item {
  flex-basis: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.facts-item-img {
  width: 100px;
  height: 100px;
  border: 2px solid #3882f6;
  border-radius: 8px;
}

/** TESTIMONIALS **/
.testimonials .container {
  max-width: 680px;
}

.testimonial-sign {
  text-align: right;
}

/** ACTION **/
.action .container {
  display: flex;
  justify-content: center;
  padding: 20px 40px;
  background-color: #3882f6;
}

/** FOOTER **/
.footer {
  padding: 20px 0;
  background: #1f2937;
  text-align: center;
  color: #f9faf8;
}

.footer h6 {
  font-size: 14px;
  font-weight: 300;
}